<div class="ng-scope" ng-class="animationClass">
	<div class="content">
		<section class="titleSection option">
			<h1>Détail d'une offre</h1>
		</section>
		<section class="robotMEA">
			
			<div class="media">
				<img src="http://robohash.org/4.jpg" width="88" height="180"/>
			</div>
			<div class="desc">
				<h4>Robot 1</h4>	
				<h5>X-PRIME</h5>
				<div class="price">
					<span>49</span><span class="dec">,00€</span>
				</div>
				<div class="offer">
					<b>avec</b><br/>
					<span>Option 1</span><br/>
					Durée illimitée
				</div>
				
			</div>
			
		</section>
		<section class="offers">
			<h3>Toutes les offres pour ce robot</h3>
			<ul>
				<li>
					<a href="#/app/userId/detail/list/detailOffer/message">
						<div class="desc">
							<h4>Offre 1</h4>	
							<p>Lorem ipsum</p>
						</div>
						<div class="price">
							<span>519</span><span class="dec">,00€</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#/app/userId/detail/list/detailOffer/message">
						<div class="desc">
							<h4>Offre 2</h4>	
							<p>Lorem ipsum</p>
						</div>
						<div class="price">
							<span>99</span><span class="dec">,00€</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#/app/userId/detail/list/detailOffer/message">
						<div class="desc">
							<h4>Offre 3</h4>	
							<p>Lorem ipsum</p>
						</div>
						<div class="price">
							<span>119</span><span class="dec">,00€</span>
						</div>
					</a>
				</li>
			</ul>
		</section>
		<section class="bottomSection" ng-click="showMessage()" >
			<input class="button" type="submit" value="Ajouter au panier">
		</section>
	</div>
</div>
<div ui-view class="userListDetailMessage"></div>