<div class="ng-scope" ng-class="animationClass">
	<div class="content">
		<!--User detail-->
		<!--<a href="http://rd/_mobile/ezyTouch/ezy2/app/#/app/userId/detail/list">Afficher liste</a>-->
		<div class="detailContainer">
			<div class="case">laboris nisi ut aliquip ex ea commodo</div>
			<div class="case profile gold">
				<h2>Mr Michel Dupont</h2>
				<div>dolore eu fugiat nulla pariatur</div>
			</div>
			<div class="description">
				Ut enim ad minima veniam,<br/>
				quis nostrum exercitationem<br/>
				ullam corporis suscipit laboriosam.
			</div>
		</div>
		<ul class="listButtons">
			<li><a class="options" href="#/app/userId/detail/list">Offres</a></li>
			<li><a class="options"  href="#/app/userId/detail/list">Lorem</a></li>
			<li><a class="options"  href="#/app/userId/detail/list">Lorem</a></li>
			<li><a class="options"  href="#/app/userId/detail/list">Lorem</a></li>
		</ul>
	</div>
</div>
<div ui-view class="userList"></div>


